* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #181818;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  line-height: 1.8;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-repeat: no-repeat;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h5 {
  color: #191919;
  font-size: 1.55rem;
  font-weight: 700;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h6 {
  color: #b61984;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.col,
.col-12,
.col-lg-6 {
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

.navbar,
.navbar-brand {
  padding: 0;
}

.form-control {
  background: transparent;
  border-radius: 1.5rem;
  padding: 12px 12px 12px 42px;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-select {
  background: transparent;
  border-radius: 1.5rem;
  padding: 0 0 0 3em;
  height: 3.2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

.colorMain {
  color: #b61984;
}

.button__main {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  background: #b61984;
  padding: 16px 60px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50px;
}

.headerOurTeach {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.headerOurTeach img {
  width: 80px;
}

.headerOurTeach .button__header button {
  padding: 0.7em 1.5em;
  border: 1px solid #b61984;
  -webkit-box-shadow: 0 0 0 2em #b61984 inset;
          box-shadow: 0 0 0 2em #b61984 inset;
}

.headerOurTeach .button__header:hover button {
  color: #b61984;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
}

.headerOurTeach .nav-item .nav-link {
  padding-right: 2.5rem;
  padding-left: 0.5rem;
  color: #181818;
  font-size: 0.9rem;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.headerOurTeach .nav-item .nav-link:hover {
  color: #b61984;
}

.headerOurTeach .nav-link2 {
  padding-right: 0.7rem;
  color: #181818;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.headerOurTeach .nav-link2:hover i {
  color: #b61984;
}

.nav-fixed {
  padding: 0px;
  position: fixed;
  background-color: #f5f9fe;
  border-bottom: none;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.nav-fixed img {
  display: none;
}

@media screen and (max-width: 1200px) {
  .headerOurTeach {
    background-color: #f5f9fe;
  }
  .headerOurTeach .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .headerOurTeach .navbar img {
    width: 45px;
  }
  .headerOurTeach .container {
    width: calc(100% - 60px);
  }
  .nav-fixed img {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .headerOurTeach .container {
    max-width: 1200px;
  }
}

.about {
  padding: 80px 0 80px 0;
  position: relative;
}

.about .about__left h5 {
  color: #b61984;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 0.5em;
}

.about .about__left .content {
  color: #191919;
  font-size: 3.8rem;
  font-weight: 700;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.about .bg__top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.about .bg__top img {
  width: 100%;
  height: auto;
}

.about .bg__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.about .bg__bottom img {
  width: 100%;
  height: auto;
}

@media (min-width: 1280px) {
  .about .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .about .about__left .content {
    font-size: 3.15rem;
  }
  .about .container {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 1200px) {
  .about .container {
    max-width: 1200px;
  }
}

.people {
  z-index: 10;
  position: relative;
  padding-top: 2em;
  background-color: #dcd1f0;
}

.people .row {
  z-index: 100;
}

.people .card-body {
  padding-left: 2em;
  padding-right: 2em;
}

.people .people__bg_bottom {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.people .people__bg_bottom img {
  width: 100%;
  height: auto;
}

.people .people__item {
  margin-bottom: 2rem;
}

.people .people__item .card {
  background-clip: border-box;
  border: none;
  border-radius: 0.75rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

.people .people__item .card .overflow {
  overflow: hidden;
}

.people .people__item .card .card-img-top {
  border-radius: 0.75rem 0.75rem 0 0;
}

.people .people__item .card:hover {
  -webkit-box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.123);
          box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.123);
}

.people .people__item .card:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.people #people1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.people #people2 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.people #people3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.people #people4 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.people #people5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.people #people6 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.people #people7 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.people #people8 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

@media screen and (max-width: 1200px) {
  .people .container {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 1200px) {
  .people .container {
    max-width: 1200px;
  }
}

.find {
  padding-top: 4em;
  position: relative;
}

.find .find__bg .find__img {
  padding-left: 20px;
  padding-right: 20px;
}

.find .find__bg .find__img img {
  display: block;
  margin: 0;
  line-height: 0;
  max-width: 100%;
  height: auto;
}

.find .formNhapThongTin {
  padding-left: 20px;
  padding-right: 20px;
}

.find .formNhapThongTin .find__form {
  padding: 0 25px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.find .formNhapThongTin .find__form .form_n_e .form-control {
  padding: 1em 1em 1em 3.5em;
  font-size: 0.8em;
  height: 3.7em;
}

.find .formNhapThongTin .find__form .custom-select {
  font-size: 0.8em;
  opacity: 0.8;
  padding: 0 0 0 3.4em;
  line-height: 3.2em;
}

.find .formNhapThongTin .find__form .form-group {
  margin-bottom: 0;
}

.find .formNhapThongTin .find__form h3 {
  font-family: "Montserrat", sans-serif;
  color: #181818;
  font-size: 2.5rem;
  font-weight: 700;
}

.find .formNhapThongTin .find__form .buntton__main__bg {
  max-width: 150px;
}

.find .formNhapThongTin .find__form .buntton__main__bg button {
  -webkit-box-shadow: 0 0 0 2em #b61984 inset;
          box-shadow: 0 0 0 2em #b61984 inset;
}

.find .formNhapThongTin .find__form .buntton__main__bg button:hover {
  color: #b61984;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
}

.find .formNhapThongTin .find__form .formName {
  position: relative;
}

.find .formNhapThongTin .find__form .formName .iconName {
  position: absolute;
  color: #b61984;
  top: 18px;
  left: 8px;
}

.find .formNhapThongTin .find__form .formName .iconName2 {
  position: absolute;
  top: 19px;
  left: 23px;
  color: #b61984;
}

.find .formNhapThongTin .find__form .formName .iconName3 {
  position: absolute;
  top: 32px;
  left: 7px;
  color: #b61984;
}

.find .find_bg__bottom {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.find .find_bg__bottom img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .find .container {
    width: calc(100% - 60px);
  }
  .find .container .formNhapThongTin .find__form h3 {
    font-size: 2rem;
  }
  .find .container .formNhapThongTin .find__form .buntton__main__bg {
    max-width: 100%;
  }
  .find .container .formNhapThongTin .find__form .buntton__main__bg button {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .find .container {
    max-width: 1040px;
  }
}

.footer {
  padding-top: 8em;
  padding-bottom: 12em;
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
}

.footer button {
  width: 100%;
  height: 4em;
  color: #181818;
  font-size: 0.8em;
  font-weight: 600;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 2em #fff inset;
          box-shadow: 0 0 0 2em #fff inset;
}

.footer button:hover {
  color: #fff;
  background-color: #b61984;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
          box-shadow: 0 0 0 1px #fff inset;
}

.footer h5 {
  color: #fff;
  margin-bottom: 1.5rem;
}

.footer .contactUs h5 {
  margin-bottom: 2.3rem;
}

.footer .contactUs span {
  margin-right: 0.9rem;
}

.footer .contactUs li {
  padding: 0 0 0.7rem 0;
}

.footer li {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  list-style: none;
  line-height: 1;
  padding: 0.8em 0;
}

.footer .ab_item li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer .ab_item li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
}

.footer .ab_item li a:hover {
  opacity: 0.8;
}

.footer .flex-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .flex-direction i {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding-right: 1rem;
}

.footer .footer__icon i {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer__icon i:hover {
  color: #191919;
}

.footer .newsletter form input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  height: 3.2em;
  outline: none;
  font: inherit;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  padding: 1em;
  color: #fff;
}

.footer .newsletter form input::-webkit-input-placeholder {
  color: #fff;
}

.footer .newsletter form input:-ms-input-placeholder {
  color: #fff;
}

.footer .newsletter form input::-ms-input-placeholder {
  color: #fff;
}

.footer .newsletter form input::placeholder {
  color: #fff;
}

.footer #footer1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.footer #footer2 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.footer #footer3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.footer #footer4 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

@media screen and (max-width: 1200px) {
  .footer .container {
    width: calc(100% - 60px);
  }
  .footer .container .contactUs span {
    font-size: 0.9em;
  }
  .footer .container .ab_item a {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    max-width: 1200px;
  }
}
/*# sourceMappingURL=main.css.map */