.about {
    padding: 80px 0 80px 0;
    position: relative;
    
    h5 {
        @include styleText($color-main, $fs-4, $fw-3);
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }
    .content {
        @include styleText($color-tittle, $fs-7, $fw-4);
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        line-height: 1.2;
    }
    .bg__top{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        pointer-events: none;
        img {
            width: 100%;
            height: auto;
        }
    }
    .bg__bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        pointer-events: none;
        img {
            width: 100%;
            height: auto;
        }
    }
    @media (min-width: 1280px) {
        .container {
            width: 1200px;
        }
    }
}
