.headerOurTeach {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition:$ts-1;

    
        img {
            width: 80px;
        }
    

    .button__header {
        button {
            padding: 0.7em 1.5em;
            border: 1px solid $color-main;
            box-shadow: 0 0 0 2em #b61984 inset;
        }

        &:hover button {
            @include styleHoverBtn($color-main, $color-extra, 0 0 0 1px #b61984 inset);
        }
    }
    .nav-item {
        .nav-link {
            padding-right: 2.5rem;
            padding-left: 0.5rem;
            @include styleText($color-content, $fs-2, $fw-3);
            
            transition: $ts-1;
            &:hover {
                color: $color-main;
            }
        }
    }
    .nav-link2 {
        // padding-left: 0.7rem;
        padding-right: 0.7rem;
        @include styleText($color-content, $fs-2, $fw-3);
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        transition: $ts-1;
        &:hover i {
            color: $color-main;
        }
    }
    

    
}
.nav-fixed {
    padding: 0px;
    position: fixed;
    background-color: $color-bg;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    
        img {
            display: none;
        }
    
}
//responesive
@include responsiveMax("extra-large"){
    .headerOurTeach{
        background-color: $color-bg;
        .navbar{
            justify-content: flex-start;
            img {
                width: 45px;
            }
        }
        .container {
            width: calc(100% - 60px);
        }
    }
    .nav-fixed {
        img {
            display: block;
        }
    }
    
}
@include responsiveMin("extra-large"){
    .headerOurTeach{
        .container {
            max-width: 1200px;
        }
    }
}